@using FamilyReunion.Models
<!-- ko with: home -->
<div data-bind="visible: showMemberCreation" class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Lets get started, by registering you and joining a family!</p>
    <form data-bind="with: member" class="form-horizontal" role="form">
        <input type="hidden" id="MemberId" data-bind="value: memberId" />
        <input type="hidden" id="Email" data-bind="value: email" />
        <input type="hidden" id="IsEliigbleForWork" data-bind="value: isEligibleForWork" />

        <div class="form-group">
            <label for="Name" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input id="Name" type="text" class="form-control" data-bind="value: name" />
            </div>
        </div>
        <div class="form-group">
            <label for="DateOfBirth" class="col-md-2 control-label">Birth Day</label>
            <div class="col-md-10">
                <input id="DateOfBirth" type="date" class="form-control" data-bind="value: dateOfBirth" />
            </div>
        </div>
        <div class="form-group">
            <label for="CellPhone" class="col-md-2 control-label">Cell Phone</label>
            <div class="col-md-10">
                <input id="CellPhone" type="text" class="form-control" data-bind="value: cellPhone" />
            </div>
        </div>
        <div class="form-group">
            <label for="MemberTypeId" class="col-md-2 control-label">Role</label>
            <div class="col-md-10">
                <select id="MemberTypeId" class="form-control" data-bind="options: memberTypes,
                            optionsText: 'name',
                            optionsValue: 'memberTypeId',
                            value: memberTypeId" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" data-bind="click: add" class="btn btn-default" value="Save" />
            </div>
        </div>
    </form>
</div>

<div data-bind="visible: !showMemberCreation()" class="jumbotron">
    <h1>Upcomming...</h1>
    <p class="lead">Whats the plan?</p>
    <button data-bind="click: reunion.createReunion">Add</button>
    <div data-bind="visible: reunion.createReunionVisible">
        <form id="reunionForm" data-bind="with: reunion" class="form-horizontal" role="form">
            <h4>New Reunion</h4>
            <hr />
            <div class="form-group">
                <label class="col-md-2 control-label" for="Year">Year</label>
                <div class="col-md-10">
                    @{
                        var years = Enumerable.Range(2017, 20)
                          .Where(i => i > DateTime.Today.Year && ((i - 2017) % 2 == 0))
                          .ToList();
                    }
                    <select class="form-control" data-bind="value: year" id="Year" name="Year">
                        @foreach (var year in years)
                        {
                        <option value="@year">@year</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Location">Location</label>
                <div class="col-md-10">
                    <textarea data-bind="value: location" class="form-control" cols="20" id="Location" name="Location" rows="2"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Location">Start Date</label>
                <div class="col-md-10">
                    <input type="date" data-bind="value: startDate" class="form-control" id="StartDate" name="StartDate" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Location">End Date</label>
                <div class="col-md-10">
                    <input type="date" data-bind="value: endDate" class="form-control" id="EndDate" name="EndDate" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" data-bind="click: add" class="btn btn-default" value="Save" />
                </div>
            </div>
        </form>
    </div>
    <div data-bind="with: reunion">
        <table>
            <thead>
                <tr>
                    <th>When</th>
                    @*<th>Title</th>*@
                    @*<th>Description</th>*@
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: reunions">
                <tr>
                    <td data-bind="text: year"></td>
                    @*<td data-bind="text: Title"></td>*@
                    @*<td data-bind="text: Description"></td>*@
                    <td data-bind="text: location"></td>
                    <td>

                        @*<a class="btn btn-primary" href="#" data-bind="click: $parent.vote, visible: canVote">Vote!</a>*@
                        <a class="btn btn-primary" href="#" data-bind="click: $parent.detail($data)"><i class="glyphicon glyphicon-info-sign"></i> Details</a>
                        <!-- ko if: $parent.hasReunion($data.reunionId) -->
                        <a class="btn btn-primary" href="#" data-bind="click: $parent.leave">Skip</a>
                        <!-- /ko -->
                        <!-- ko if: !$parent.hasReunion($data.reunionId) -->
                        <a class="btn btn-primary" href="#" data-bind="click: $parent.join">Attend!</a>
                        <!-- /ko -->
                        <a class="btn btn-primary" href="#" data-bind="click: $parent.edit">Edit</a>
                        <a class="btn btn-danger" href="#" data-bind="click: $parent.delete">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div data-bind="visible: !showMemberCreation()" class="row">
    <!-- ko if: !family.canJoin() -->
    <div class="col-md-12">
        <h6>Family: <label data-bind="text: family.name"></label></h6>
        <h2><label data-bind="text: reunion.location"></label> <label data-bind="text: reunion.year"></label></h2>
    </div>
    <div class="col-md-4">
        <h4>Teams: <button type="button" class="btn btn-primary" data-bind="click: reunion.assignTeams">Assign Teams</button></h4>
        <div data-bind="foreach: reunion.teams">
            <ul>
                <li data-bind="foreach: members">
                    <label data-bind="text: name"></label>
                    @*<!-- ko if: $parent.hasLead($parent.teamId) -->
                        <a class="btn btn-primary" href="#" data-bind="click: $parent.leave, visible: !$parent.canJoin()">Leave</a>
                        <!-- /ko -->
                        <!-- ko if: !$parent.hasLead($parent.teamId) -->
                        <a class="btn btn-primary" href="#" data-bind="click: $parent.join, visible: $parent.canJoin">Join!</a>
                        <!-- /ko -->*@
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Schedule: <button type="button" class="btn btn-primary" data-bind="click: reunion.createEvent"><i class="glyphicon glyphicon-plus"></i> Event</button></h4>
        <iframe data-bind="attr: { src: reunion.calendarUrl }" style="border:solid 1px #777" width="800" height="400" frameborder="0" scrolling="no"></iframe>
       
    </div>
    <!-- /ko -->
    <!-- ko if: family.canJoin -->
    <div class="col-md-12">
        <h2>Familes...</h2>
        <button data-bind="click: family.createFamily">Add</button>
        <div data-bind="visible: family.createFamilyVisible">
            <form id="familyForm" data-bind="with: family" class="form-horizontal" role="form">
                <h4>New Family</h4>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Name">Name</label>
                    <div class="col-md-10">
                        <input type="text" data-bind="value: name" class="form-control" id="Name" name="Name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" data-bind="click: add" class="btn btn-default" value="Save" />
                    </div>
                </div>
            </form>
        </div>
        <div data-bind="with: family">
            <table>
                <thead>
                    <tr>
                        <th>Family</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: families">
                    <tr>
                        <td data-bind="text: name"></td>
                        @*<td data-bind="text: Title"></td>*@
                        @*<td data-bind="text: Description"></td>*@
                        <td>
                            <!-- ko if: $parent.hasFamily($data.familyId) -->
                            <a class="btn btn-primary" href="#" data-bind="click: $parent.leave, visible: !$parent.canJoin()">Leave</a>
                            <!-- /ko -->
                            <!-- ko if: !$parent.hasFamily($data.familyId) -->
                            <a class="btn btn-primary" href="#" data-bind="click: $parent.join, visible: $parent.canJoin">Join!</a>
                            <!-- /ko -->
                            <a class="btn btn-primary" href="#" data-bind="click: $parent.edit">Edit</a>
                            <a class="btn btn-danger" href="#" data-bind="click: $parent.delete">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->
